<div class="p-fluid p-grid p-formgrid p-mb-2">
  <div class="p-field-radiobutton p-col-12 p-md-2">
    <p-radioButton name="typeStat" [value]="TYPE_STAT.HOSP" [(ngModel)]="typeStatSelected"
                   inputId="type1" (ngModelChange)="getEvolutionParTrancheAge()"></p-radioButton>
    <label for="type1">Hospitaliser & réanimations</label>
  </div>
  <div class="p-field-radiobutton p-col-12 p-md-1">
    <p-radioButton name="typeStat" [value]="TYPE_STAT.REA" [(ngModel)]="typeStatSelected"
                   inputId="type2" (ngModelChange)="getEvolutionParTrancheAge()"></p-radioButton>
    <label for="type2">Réanimations</label>
  </div>
  <div class="p-field-radiobutton p-col-12 p-md-3">
    <p-radioButton name="typeStat" [value]="TYPE_STAT.DC" [(ngModel)]="typeStatSelected"
                   inputId="type3" (ngModelChange)="getEvolutionParTrancheAge()"></p-radioButton>
    <label for="type3">Décés à l'hôpital (Attention chiffre cumulé, non quotidien)</label>
  </div>
  <div class="p-field-checkbox p-col-12 p-md-3">
    <p-checkbox [(ngModel)]="proportionEvoAge" (onChange)="getEvolutionParTrancheAge()"
                binary="true" inputId="binary3"></p-checkbox>
    <label for="binary3">Visualisation en pourcentage %</label>
  </div>
  <div class="p-field p-col-12 p-md-3">
    <p-dropdown [options]="regionsDrop" [(ngModel)]="regionSelected"
                [style]="{'width':'100%'}" filter="true" (onChange)="getEvolutionParTrancheAge()"
                [showClear]="true" placeholder="Région" #region>
      <ng-template let-item pTemplate="selectedItem">
        <span>{{item.label}}</span>
      </ng-template>
      <ng-template let-dep pTemplate="item">
        <div class="ui-helper-clearfix">
          {{dep.label}}
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>
<div class="p-fluid p-grid p-formgrid p-mb-2">
  <div class="p-field p-col-12 p-md-3">
    <p-calendar [(ngModel)]="jours" [minDate]="minDate" [maxDate]="maxDate"
                [readonlyInput]="true" inputId="min-max"
                dateFormat="dd/mm/yy" [locale]="fr"
                selectionMode="range"
                placeholder="Choix d'un interval de date" showButtonBar="true"
                (onClose)="refreshVariation();getEvolutionParTrancheAge()"></p-calendar>
  </div>
</div>
<div class="p-grid p-mt-4 mb-5">
  <p-chart #chartEvolution type="line" [data]="dataEvolution" width="1250" height="570" class="w-100"></p-chart>
</div>
