<div class="layout-wrapper">
  <div class="layout-container">
    <div class="topbar clearfix">
      <div class="topbar-left text-white">
        <i class="fa pi pi-chart-line text-white" style="font-size: 2rem"></i>
        Graphique des patients covid à l'hôpital en france
      </div>
    </div>
    <div class="layout-main">
      <p-tabMenu [model]="tabMenuItems" [activeItem]="tabMenuItems[0]"></p-tabMenu>

      <div class="layout-content">

        <router-outlet></router-outlet>

        <div class="p-col-10 p-offset-1">
          <div class="card clearfix p-grid">
            <div class="p-col-3">
              Annnuaire des associations - 2020
            </div>
            <div class="p-col-3">
              <a href="https://www.primefaces.org/primeng/#/table">Powered by Angular and PrimeNg</a>
            </div>
            <div class="p-col-3">
              <a href="https://www.data.gouv.fr/fr/datasets/repertoire-national-des-associations/">Répertoire
                National des Associations (RNA)</a>
            </div>
            <div class="p-col-3">
              <a href="https://api.gouv.fr/api/api-geo.html">API Géo</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
