<div class="layout-wrapper">
  <div class="layout-container">
    <div class="topbar clearfix">
      <div class="topbar-left text-white">
        <i class="fa pi pi-chart-line text-white" style="font-size: 2rem"></i>
        Graphique des patients covid à l'hôpital en France
      </div>
      <div class="topbar-right">
        <a id="rightpanel-menu-button" href="https://github.com/sacquet49/covid-hosp-sante-france">
          <i class="ml-auto fa pi pi-github text-white" style="font-size: 2rem"></i></a>
      </div>
    </div>
    <div class="layout-main">
      <p-tabMenu [model]="tabMenuItems" [activeItem]="tabMenuItems[0]"></p-tabMenu>

      <div class="layout-content">

        <router-outlet></router-outlet>

        <div class="p-col-10 p-offset-1">
          <div class="card clearfix p-grid">
            <div class="p-col-4 text-center">
              Graphique des patients covid à l'hôpital en France - 2020
            </div>
            <div class="p-col-4 text-center">
              <a href="https://www.primefaces.org/primeng/#/table">Powered by Angular and PrimeNg</a>
            </div>
            <div class="p-col-4 text-center">
              <a href="https://www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/">Données
                hospitalières relatives à l'épidémie de COVID-19 </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
