<div class="layout-wrapper">
  <div class="layout-container">
    <div class="topbar clearfix">
      <div class="topbar-left text-white grid">
        <div class="col-2 text-center">
          <i class="fa pi pi-chart-line text-white ft-size-2"></i></div>
        <div class="col-10 text-center p-5">
          Graphique des patients covid à l'hôpital en France.
        </div>
      </div>
      <div class="topbar-right">
        <a id="rightpanel-menu-button" href="https://github.com/sacquet49/covid-hosp-sante-france">
          <i class="ms-auto fa pi pi-github text-white ft-size-2"></i></a>
      </div>
    </div>
    <div class="layout-main">
      <p-tabs value="0">
        <p-tablist>
          @for(tab of tabMenuItems; track tab.routerLink){
            <p-tab [value]="tab.routerLink" [routerLink]="tab.routerLink"
                   class="flex items-center !gap-2 text-inherit">
              <i [class]="tab.icon"></i>
              <span>{{ tab.label }}</span>
            </p-tab>
          }
        </p-tablist>
      </p-tabs>

      <div class="layout-content">

        <router-outlet></router-outlet>

        <div class="col-10 offset-1">
          <div class="card clearfix grid">
            <div class="col-3 text-center">
              Graphique des patients covid à l'hôpital en France - 2020
            </div>
            <div class="col-3 text-center">
              <a href="https://www.primefaces.org/primeng/#/table">Powered by Angular and PrimeNg</a>
            </div>
            <div class="col-3 text-center">
              <a href="https://www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/">Données
                hospitalières relatives à l'épidémie de COVID-19</a>
            </div>
            <div class="col-3 text-center">
              <a href="https://www.insee.fr/fr/statistiques/4923977?sommaire=4487854">Évolution du nombre de décès
                depuis le 1ᵉʳ septembre 2020</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
