<div class="p-col-10 p-offset-1">
  <div class="p-grid">
    <div class="p-col-6">
      <p-card
        header="Petite video de Jean Marc Jancovici sur l'avis des spécialistes et ce qui font qui sont spécialistes.">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wVwcM7iVuyI" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="disp-auto"></iframe>
      </p-card>
    </div>
    <div class="p-col-6">
      <p-card
        header="Une utopie des possibles.">
        <iframe class="disp-auto"
                width="560" height="315" src="https://www.youtube.com/embed/17J-xBdOllY" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </p-card>
    </div>
  </div>
</div>
